.doc-container{
    background-color: #1ca6b6;
    color: white; 
    height: 100vh; 
    padding: 30px 15px; 
    font-family: 'Encode Sans Condensed', sans-serif;
}

img{
    height: 200px; 
    width: 200px; 
}

.btn{
    border-color: white !important;
    color: white !important; 
}

.btn:hover{
    border: none !important;
    background-color: #176189; 
}

h5{
    margin-bottom: 10px; 
}

select:focus > option:hover{
    background-color: #176189 !important; 
    color: white;
}