<div class="doc-container">
  <div style="text-align: center;">
    <img *ngIf="rol == 'doctor'" src="./assets/img/doc.png" alt="">
    <img *ngIf="rol == 'asistentes'" src="./assets/img/ass.png" alt="">
    <h3 *ngIf="rol == 'doctor'">Hello Doctor!</h3>
    <h3 *ngIf="rol == 'asistentes'">Hello Assistant!</h3>
    <p>Merenganito</p>
  </div>

  <div *ngIf="rol == 'doctor'" style="margin-top:50px">
       <h5><i class="fas fa-clipboard-list"></i> Citas pendientes</h5>
        <select class="custom-select">
          <option *ngFor="let c of citas" [value]="c._idPaciente">{{c._nombre}}</option>
        </select>
  </div>

  <div class="input-group mb-3" *ngIf="rol == 'asistentes'" style="margin-top:50px">
    <input type="text" class="form-control" placeholder="Busca un pin..." aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Buscar</button>
    </div>
  </div>
</div>
